<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <!-- my version, which loads envvars from a file first -->
    <string>com.user.jetbrains-toolbox</string>
    <key>ProgramArguments</key>
    <array>
      <string>bash</string>
      <string>-c</string>
      <string>
         source ~/.vault-secrets-local.sh ;
        "/Applications/JetBrains Toolbox.app/Contents/MacOS/jetbrains-toolbox" --minimize
      </string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/csl04r/Library/Logs/csl-JetBrains-Toolbox-launchd-stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/csl04r/Library/Logs/csl-JetBrains-Toolbox-launchd-stderr.log</string>
  </dict>
</plist>
